/* ----------------------------------------------
 * RESET
 * ------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,hr
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: fbaseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

/* ----------------------------------------------
 * GENERAL
 * ------------------------------------------- */
html {
	margin: 0;
	background-repeat: repeat;
	background-image: url(/public/images/grass.jpg);
	background-attachment: fixed;
	-ms-behavior: url(/public/stylesheets/backgroundsize.min.htc);
	background-size: cover;
	color: #000000;
	font-size: 12px;
}

@font-face {
	font-family: 'HarmoniaSansRegular';
	src: url('HarmoniaSansRegular.eot');
	src: url('HarmoniaSansRegular.eot?#iefix') format('embedded-opentype'),
		url('HarmoniaSansRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.collapsibleContainer {
	cursor: pointer;
}

.collapsibleContainerContent {
	
}

.editablecell {
	color: #000000;
	background: #ffffff; 
}

/* ----------------------------------------------
 * MAIN BOX
 * ------------------------------------------- */
#mainbox {
	width: 1000px;
	margin: 10px auto 20px;
	padding: 0 10px 10px;
	position: relative;
	min-height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgb(245, 246, 246); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245,
		246, 246, 1) ), color-stop(21%, rgba(219, 220, 226, 1) ),
		color-stop(49%, rgba(184, 186, 198, 1) ),
		color-stop(80%, rgba(221, 223, 227, 1) ),
		color-stop(100%, rgba(245, 246, 246, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f5f6f6',
		endColorstr='#f5f6f6', GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.shadowbox {
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#000000' );
}

#buttonbox {
	width: 500px;
	margin: 10px auto 20px;
	padding: 0 10px 10px;
	position: relative;
	min-height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgb(245, 246, 246); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245,
		246, 246, 1) ), color-stop(21%, rgba(219, 220, 226, 1) ),
		color-stop(49%, rgba(184, 186, 198, 1) ),
		color-stop(80%, rgba(221, 223, 227, 1) ),
		color-stop(100%, rgba(245, 246, 246, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f5f6f6',
		endColorstr='#f5f6f6', GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#inputpanel {
	width: 500px;
	margin: 10px auto 20px;
	padding: 0 10px 10px;
	position: relative;
	min-height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgb(245, 246, 246); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245,
		246, 246, 1) ), color-stop(21%, rgba(219, 220, 226, 1) ),
		color-stop(49%, rgba(184, 186, 198, 1) ),
		color-stop(80%, rgba(221, 223, 227, 1) ),
		color-stop(100%, rgba(245, 246, 246, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(245, 246, 246, 1) 0%,
		rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%,
		rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f5f6f6',
		endColorstr='#f5f6f6', GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

input[type=text] {
	padding: 2px 2px 2px 2px;
}

.forminput {
	width: 400px;
	display: block;
}

.formlabel
{
	width: 200px;
}

.mandatory
{
	background-color: #FFFFCC;
}

input[type=submit],input[type="button"],button {
	text-decoration: none;
	/* font-family: "HarmoniaSansRegular"; */
	font-weight: bold;
	xtext-shadow: none;
	padding: 0 3px 0 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	-moz-border-radius: 10px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	cursor: pointer;
	color: #FFFFFF;
	background: #FF0000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80F13',
		endColorstr='#741D66' );
	background: -webkit-gradient(linear, left top, left bottom, from(#D80F13),
		to(#741D66) );
	background: -moz-linear-gradient(-90deg, #D80F13, #741D66);
}

select {

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,option {
	}
}

select,option,x:-moz-any-link,x:default {

}

.panelheader {
	padding: 10px 5px 5px;
	color: #000000;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 1px;
}

/* ----------------------------------------------
 * HEADER
 * ------------------------------------------- */
#header {
	position: relative;
}
/* text-shadow: 1px 2px 2px #000; */
#logo {
	display: block;
	height: 132px;
	margin-left: 20px;
	color: #D80F13;
	font-size: 48px;
	font-weight: normal;
	text-shadow: 1px 2px 2px #000;
	letter-spacing: -4px;
	width: 210px;
}

#logo span {
	color: #000000;
	font-size: 70%;
}

#logout {
	display: block;
	font-size: 8pt;
	color: #000000;
	margin-left: 800px;
	width: 30px;
}

/** A little hacky to create arrows without images **/
.about {
	text-indent: -999em;
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFFF;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

#title {
	background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80F13',
		endColorstr='#000000' );
	background: -webkit-gradient(linear, left top, left bottom, from(#D80F13),
		to(#000000) );
	background: -moz-linear-gradient(-90deg, #D80F13, #000000);
	padding: 0px 30px 0px 20px;
	margin: 5px 0px 50px 5px;
	color: #000000;
	position: relative;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 2px 0 #9393A0;
	-moz-border-radius: 16px;
	width: 315px;
}

#title h1 {
	font-size: 64px;
	margin: 0;
}

#title h1 a {
	text-decoration: none;
	color: inherit;
}

#title h2 {
	font-size: 26px;
	margin: 0;
	font-weight: normal;
	opacity: 0.8;
	text-shadow: rgba(0.5, 0, 0, 0) 0 1px 1px;
}

h1 {
	padding: 30px 0 10px;
	color: rgba(0.7, 0, 0, 0);
	font-family: 'HarmoniaSansRegular';
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px, rgba(0.5, 0, 0, 0) 0
		-1px 1px;
	font-size: 50px;
}

h1 span {
	display: block;
	font-size: 16px;
	opacity: .8;
}

h2 {
	font-weight: bold;
	text-decoration:underline;
}

/* ----------------------------------------------
 * MENU
 * ------------------------------------------- */
nav {
	position: absolute;
	top: 48px;
	right: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	-moz-border-radius: 10px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	cursor: pointer;
	color: #000000;
	background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80F13',
		endColorstr='#741D66' );
	background: -webkit-gradient(linear, left top, left bottom, from(#D80F13),
		to(#741D66) );
	background: -moz-linear-gradient(-90deg, #D80F13, #741D66);
}

nav a {
	color: #ffffff;
	background-color: #ff0000;
	font-family: "HarmoniaSansRegular";
	font-size: 15px;
	text-shadow: rgba(0.8, 0, 0, 0) 0 -1px 1px;
	text-decoration: none;
	padding: 0 3px 0 5px;
}

#navlogout {
	display: block;
	padding: 4px 6px;
	width: 45px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80F13',
		endColorstr='#741D66' );
	background: -webkit-gradient(linear, left top, left bottom, from(#D80F13),
		to(#741D66) );
	background: -moz-linear-gradient(-90deg, #D80F13, #741D66);
	-webkit-box-shadow: #79799f 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.2) 0 3px 3px;
	-moz-box-shadow: #79799f 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.2) 0 3px 3px;
	color: #000000;
	font-family: "HarmoniaSansRegular";
	font-size: 18px;
	text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 1px;
	text-decoration: none;
	tet-align: right;
}

nav a:hover {
	-webkit-box-shadow: #79799f 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.3) 0 5px 4px;
	-moz-box-shadow: #79799f 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.3) 0 5px 4px;
}

nav a:active {
	position: relative;
	top: 1px;
}

nav a.selected {
	color: #fff;
}

/* ----------------------------------------------
 * CONTENT
 * ------------------------------------------- */
#time {
	color: rgba(0, 0, 0, .6);
	text-align: center;
	font-family: "HarmoniaSansRegular";
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0px, rgba(0, 0, 0, 0.8) 0
		-1px 1px;
	font-size: 70px;
	padding: 40px 0;
}

#time span {
	display: block;
	font-size: 30px;
}

/* ----------------------------------------------
 * LIST
 * ------------------------------------------- */
table {
	width: 100%;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

thead {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 1) ), color-stop(100%, rgba(204, 204, 204, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eeeeee',
		endColorstr='#cccccc', GradientType=0 );
	background: rgb(238, 238, 238); /* IE6-8 */	border: 1px solid #1f3003;
	color: #619604;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 1px;
}

tfoot {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #000000;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 1px;
}

th {
	padding: 10px 5px 5px;
	color: #000000;
}

tbody tr {
}

tbody tr:hover {
	opacity: 1;
}

tbody tr:nth-child(even) {
	background: rgba(0.5, 0, 0, 0);
}

tbody tr:nth-child(odd) {
	background: rgba(255, 255, 255, 0.05);
}

td {
	padding: 5px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-overflow: wrap;
}

td a,td input[type=submit] {
	text-decoration: none;
	font-weight: bold;
	xtext-shadow: none;
	padding: 0 3px 0 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	-moz-border-radius: 10px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	cursor: pointer;
	color: #FFFFFF;
	background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80F13',
		endColorstr='#741D66' );
	background: -webkit-gradient(linear, left top, left bottom, from(#D80F13),
		to(#741D66) );
	background: -moz-linear-gradient(-90deg, #D80F13, #741D66);
}

td a:active,td input[type=submit]:active {
	position: relative;
	top: 1px;
}

td input {
	text-align: left;
	padding: 0;
	border: none;
	border: 1px solid rgba(0, 0, 0, .3);
	background: transparent;
	color: #000000;
	display: block;
	margin: -3px -1px;
	width: 200px;
}

td.editing {
	padding: 0px 5px;
}

th.name,td.name input {
	width: 85px;
}

th.firstname,td.firstname input {
	width: 90px;
}

th.birthdate,td.birthdate input {
	width: 80px;
}

th.email,td.email input {
	width: 170px;
}

th.edit {
	width: 25px;
}

/* ----------------------------------------------
 * ADD
 * ------------------------------------------- */
form {
	margin: 10px 0;
	/* font-family: "HarmoniaSansRegular"; */
	font-size: 8pt;
}

form label {
	display: block;
	float: left;
	padding: 4px 0;
}

form p.field {
	padding: 5px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form p.field:nth-child(even) {
	background: rgba(0, 0, 0, 0.05);
}

form p.field:nth-child(odd) {
	background: rgba(255, 255, 255, 0.05);
}

form p.buttons {
	padding: 20px 0;
	color: rgba(255, 255, 255, .6);
	text-align: right;
}

form p.buttons a {
	font-size: 16px;
	color: #fff;
	padding-right: 10px;
}

form p.buttons input {
	width: auto;
	margin-left: 10px;
	padding: 2px 10px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #62034b;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c037c',
		endColorstr='#62034b' );
	background: -webkit-gradient(linear, left top, left bottom, from(#9c037c),
		to(#62034b) );
	background: -moz-linear-gradient(-90deg, #9c037c, #62034b);
	-webkit-box-shadow: #d03eb1 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.2) 0 3px 3px;
	-moz-box-shadow: #d03eb1 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.2) 0 3px 3px;
	color: #ed76d4;
	font-family: "HarmoniaSansRegular";
	font-size: 18px;
	text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 1px;
	text-decoration: none;
}

form p.buttons input:hover {
	color: #fff;
	-webkit-box-shadow: #d03eb1 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.3) 0 5px 4px;
	-moz-box-shadow: #d03eb1 0 -1px 1px, rgba(0, 0, 0, 0.5) 0 1px 1px,
		rgba(0, 0, 0, 0.3) 0 5px 4px;
	background: -moz-linear-gradient(-90deg, #9c037c, #62034b);
}

form p.buttons input:active {
	position: relative;
	top: 1px;
}

form p input {
	/* font-family: "HarmoniaSansRegular"; */
	font-size: 16px;
	border: none;
	padding: 2px 4px;
	background: rgba(255, 255, 255, .4);
	width: 400px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
	-moz-border-radius: 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
}

form p input:focus {
	background: rgba(255, 255, 255, .8);
}

input[type="file"] {
	color: #000;
}

form #birthdate {
	width: 100px;
}

form #email {
	width: 300px;
}

form .error {
	color: red;
	padding-left: 10px;
	padding-top: 3px;
}

textarea {
	width: 400px;
	min-height: 150px;
}

form a {a { text-decoration:none;
	font-family: "HarmoniaSansRegular";
	font-weight: bold;
	xtext-shadow: none;
	padding: 0 3px 0 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	-moz-border-radius: 10px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
	cursor: pointer;
	color: #000000;
	background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',
		endColorstr='#D80F13' );
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#D80F13) );
	background: -moz-linear-gradient(-90deg, #FFFFFF, #D80F13);
}

}

/* ----------------------------------------------
 * FOOTER
 * ------------------------------------------- */
footer {
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	cursor: default;
}

footer a {
	color: #111;
	font-family: "HarmoniaSansRegular";
	text-shadow: rgba(255, 255, 255, 1) 0 1px 1px;
	text-decoration: none;
	font-size: 12px;
}

footer a:hover {
	opacity: .7;
}

/* ----------------------------------------------
 * FIXES
 * ------------------------------------------- */
[draggable=true] {
	-khtml-user-drag: element;
}

#ui-datepicker-div td a {
	-webkit-box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* ----------------------------------------------
 * Sections
 * ------------------------------------------- */
#section1,#section2,#section3,#section4,#section5,#introduction {
	width: 700px;
	margin: 10px auto 20px;
	padding: 0 10px 10px;
	position: relative;
	min-height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 40px, #06060a 0 1px 1px,
		#9292dd 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.greybox {
	color: #000000;
	background: #eeeeee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */


}

.bluebox {
	color: #000000;
	background: rgb(240, 249, 255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2NiZWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWRiZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100% );
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,
		249, 255, 1) ), color-stop(47%, rgba(203, 235, 255, 1) ),
		color-stop(100%, rgba(161, 219, 255, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f0f9ff',
		endColorstr='#a1dbff', GradientType=0 ); /* IE6-8 */
}

.greenbox {
	color: #000000;
	background: rgb(248, 255, 232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2UzZjVhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2RmMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(248, 255, 232, 1) 0%,
		rgba(227, 245, 171, 1) 33%, rgba(183, 223, 45, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,
		255, 232, 1) ), color-stop(33%, rgba(227, 245, 171, 1) ),
		color-stop(100%, rgba(183, 223, 45, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(248, 255, 232, 1) 0%,
		rgba(227, 245, 171, 1) 33%, rgba(183, 223, 45, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(248, 255, 232, 1) 0%,
		rgba(227, 245, 171, 1) 33%, rgba(183, 223, 45, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(248, 255, 232, 1) 0%,
		rgba(227, 245, 171, 1) 33%, rgba(183, 223, 45, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(248, 255, 232, 1) 0%,
		rgba(227, 245, 171, 1) 33%, rgba(183, 223, 45, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f8ffe8',
		endColorstr='#b7df2d', GradientType=0 ); /* IE6-8 */
}

.orangebox {
	color: #000000;
	background: rgb(250, 198, 149); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYzY5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y1YWI2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjhkMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(250, 198, 149, 1) 0%,
		rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(250,
		198, 149, 1) ), color-stop(47%, rgba(245, 171, 102, 1) ),
		color-stop(100%, rgba(239, 141, 49, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250, 198, 149, 1) 0%,
		rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250, 198, 149, 1) 0%,
		rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250, 198, 149, 1) 0%,
		rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(250, 198, 149, 1) 0%,
		rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#fac695',
		endColorstr='#ef8d31', GradientType=0 ); /* IE6-8 */
}

.yellowbox {
	color: #000000;
	background: #f1e767; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZTc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWI2NDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767),
		color-stop(100%, #feb645) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f1e767',
		endColorstr='#feb645', GradientType=0 ); /* IE6-8 */
}

.pinkbox {
	color: #000000;
	background: rgb(254, 187, 187); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2ZlOTA5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(254, 187, 187, 1) 0%,
		rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,
		187, 187, 1) ), color-stop(45%, rgba(254, 144, 144, 1) ),
		color-stop(100%, rgba(255, 92, 92, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254, 187, 187, 1) 0%,
		rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254, 187, 187, 1) 0%,
		rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254, 187, 187, 1) 0%,
		rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254, 187, 187, 1) 0%,
		rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#febbbb',
		endColorstr='#ff5c5c', GradientType=0 ); /* IE6-8 */
}

#accordion {
	width: 750px;
	align: center;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }